ul, li, p, button {
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.Container {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.App {
    text-align: center;
    margin-top: 50px;
}

.name-number {
    margin-top: 20px;
}

.name-number li {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    justify-content: space-between;
}

.Search {
    margin-bottom: 30px;
}

.Search input {
    width: 260px;
}